/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  line-height: 1.6;
}
